{% extends 'base.html' %}
{% block title %} sales {% endblock %}
{% block content %}
<div>

    
    




    <div>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Add sales
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Adding a sales</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="/add_sales">
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Product id</label>
                                <input type="text" name="p_name" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp">
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Quantity </label>
                                <input type="number" name="Quantity" class="form-control" id="exampleInputPassword1">
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Created at</label>
                                <input type="number" name="'Created_at" class="form-control" id="exampleInputPassword1">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Add sales</button>
                            </div>

                        </form>
                    </div>

                </div>
            </div>
        </div>

    </div>










    <div>
        <table id="example" class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Product ID</th>
                    <th>Quantity </th>
                    <th>Created at</th>

                </tr>
            </thead>
            <tbody>
                {% for sales in sales_data %}
                <tr>
                    <td> {{ sales[0] }}</td>
                    <td> {{ sales[1] }}</td>
                    <td> {{ sales[2] }}</td>
                    <td> {{ sales[3] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}